body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

* {
  font-family: 'Tajawal', sans-serif !important;
}


.MuiPickersDatePickerRoot-toolbar, .MuiPickersDay-daySelected {
  background-color: #0077b6 !important;
  color:white !important;
}

.MuiDialogActions-root > .MuiButtonBase-root{
  color: #0077b6 !important;
}

.MuiDataGrid-toolbarContainer > .MuiButtonBase-root {
  color: darkred !important;
}

/* .MuiDataGrid-cell > .MuiButtonBase-root{
  color: darkred !important;
} */

@media only screen and (min-width: 600px) {
  
::-webkit-scrollbar {
  width: 13px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
  background: #0077b6; 
  border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
  background: #005590; 
}
}

